.container{
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 111, 183);
}
.table{
    width: 80%;
    max-height: 80vh;
    margin: 5rem 0;
    text-align: center;
    background-color: #ffff;
    color: rgb(13, 75, 49);
    border-radius: 1rem;
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;
    
}
 
